a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/*
dark indigo: #0f0632
*/

html {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 20px;
    line-height: 29px;
}

img {
    width: 100%;
}

h1, h2, button  {
    font-family: 'Iceberg', cursive;
    text-transform: uppercase;
}

h1 {
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    word-spacing: 9999rem;
    margin-bottom: 30px;
}

h2 {
    font-size: 52px;
    text-align: left;
    text-transform: uppercase;
}

button,
h3 span {
    background: #9200ff;
    color: #ffffff;
    padding: 10px 20px;
}

button {
    line-height: 29px;
    font-size: 25px;
    border: 0;
}

button:hover,
button:focus {
    font-weight: bold;
}

h3 {
    text-align: center;
    text-transform: lowercase;
    padding: 10px;
    font-size: 35px;
}


a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    font-weight: bold;
}

a:focus {
    border: 2px solid #ffffff;
    padding: 2px;
}


/* header area */
header {
    background: url(./assets/image-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    min-height: 600px;
    padding-top: 100px;
}

.mobile-nav-button {
    display: none;
}

nav ul {
    padding-bottom: 100px;
    text-align: center;
    text-transform: uppercase;
}

nav li {
    display: inline-block;
    padding: 0 20px;
}

/* checkerboard area */
.lineup, .new-experiences, .instagram {
    background: #0f0632;
}

.section-img, .section-text {
    width: 50%;
    min-height: 600px;
}

.section-text {
    padding: 100px;
    height: 50vh;
    overflow: scroll;
}

.section-text p {
    padding: 20px 0;
}

.section-text a {
    display: block;
}

.section-img img {
    object-fit: cover;
    width: 100%;
    height: 50vh;
}
.lineup .section-text,
.new-experiences .section-img {
    float:left;
}
.lineup .section-img,
.new-experiences .section-text{
    float:right;
}

.midway-nav, footer {
    background: #3d0369;
}


/* tickets */
.wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 100px 0;
}

.tickets {
    background: #080808;
}
.tickets img {
    display: block;
    float: left;
    width: 25%;
    height: 25%;
    object-fit: cover;
}

.tickets .section-text {
    float: left;
    width: 75%;
    height: 25%;
    padding: 0 0 0 50px;
    height: 25%;
    min-height: unset;
}

.tickets p {
    padding: 6px 0;
}

/* midway nav section */
.midway-nav ul {
    padding-bottom: 0;
}

.midway-nav p {
    font-size: 30px;
    font-weight: bold;
}

.midway-nav a {
    display: block;
    padding: 5px;
}

.midway-nav a:hover {
    color: #3d0369;
    background-color: rgba(255, 255, 255, 0.7);
}

i.fas {
    font-size: 60px;
    display: block;
    padding-bottom: 10px;
}

/* instagram */
.instagram h2 {
    text-align: center;
}

.gallery {
    padding-top: 100px;
}

.gallery img {
    float: left;
    width: 30%;
    margin-right: 5%;
}

.gallery img:last-child {
    margin-right: 0;
}

/* footer */
.contact, .subscription {
    float: left;
    width: 50%;
}

.subscription input {
    float: left;
    width: calc(100% - 167px);  /* 167px is size of SUBSCRIBE button */
    height: 49px;
    border: 0;
}

.copyright {
    background-color: #130034;
    text-align: center;
    padding: 10px 0;
}

@media (max-width: 800px) {
    a:focus {
        background: rgba(255, 255, 255, 0.5);
        border: 2px solid white;
    }
    .mobile-nav-button {
        display: block;
        color: white;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    header i.fas {
        font-size: 36px;
    }

    header {
        background-size: 1400px;
        background-position: -300px;
        max-height: 700px;
    }
    header nav {
        visibility: hidden;
    }

    h1 {
        font-size: 60px;
        line-height: 60px;
    }

    h3 {
        font-size: 22px;
    }

    .section-text,
    .section-img {
        width: 100%;
        height: unset;
        min-height: unset;
    }

    .section-text {
        padding: 50px;
    }

    .section-text p {
        padding: 20px 0;
    }

    button {
        display: block;
        margin: 0 auto;
    }

    .wrapper {
        width: 90%;
        padding: 50px 0;
    }

    .tickets img {
        width: 100%;
    }

    .tickets .section-text {
        padding: 5% 0 0 0;
        width: 100%;
    }

    .midway-nav li {
        display: block;
        width: 100%;
        padding-bottom: 50px;
    }

    .midway-nav li:last-child {
        padding-bottom: 0;
    }
    .gallery img {
        width: 47.5%;
    }

    .gallery img:nth-child(2) {
        margin-right: 0;
    }
    .gallery img:last-child {
        display: none;
    }

    footer,
    footer h2 {
        text-align: center;
    }

    footer ul {
        padding-bottom: 50px;
    }

    .contact,
    .subscription {
        width: 100%;
    }

    .contact {
        padding-bottom: 50px;
    }
    .subscription,
    .subscription input {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 5px;

    }

    .subscription button {
        width: 100%;
    }
}

@media (max-width: 460px) {
    footer li {
        display: block;
        padding-bottom: 20px;
    }

    footer li a {
        font-size: 24px;
    }
}